@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Montserrat, Geneva, Tahoma, sans-serif;
}

.cabecalho {
  display: flex;
  flex-direction: column;
}

.cabecalho h1 {
  font-size: 1.4rem;
  text-transform: uppercase;
  background-color: #44bba4;
  text-align: center;
  color: white;
  padding: 5px 0;
}

.menu ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  background-color: #e7bb41;
  padding: 7px 0;
  text-transform: uppercase;  
}

.cabecalho ul li a {
  text-decoration: none;
  color: #393e41;
  opacity: 0.7;
  font-weight: 600;
  font-size: 0.9rem;
}

.cabecalho ul li a:hover {
  opacity: 1;
}

.cabecalho ul li a:visited,
a:hover,
a:active {
  color: #393e41;
  opacity: 0.7;
}

h2 {
  text-transform: uppercase;
}

.perfil,
.sobre,
.skills {
  min-height: 60vh;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}

.perfil,
.skills {
  align-items: center;
  background-color: #393e41;
  color: #d3d0cb;
}

.perfil p {
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 15px;
}

.foto {
  width: 200px;
  height: 200px;
  border-top: 5px solid #44bba4;
  border-right: 5px solid #e7bb41;
  border-bottom: 5px solid #44bba4;
  border-left: 5px solid #e7bb41;
  border-radius: 50%;
  background-image: url(images/perfil-pequena.jpg);
  background-position: 35% 55%;
  background-size: 150%;
  margin: auto;
  margin-top: 15px;
}

.sobre {
  align-items: center;
  background-color: #d3d0cb;
  padding: 0 5px;
  color: #393e41;
}

.sobre p,
.skills p {
  text-align: justify;
  max-width: 80%;
  font-size: 0.9rem;
}

.skills h2 {
  margin: 30px 0 20px;
}

.html, .css, .javascript {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#text-html, #text-css, #text-js {
  display: none;
}

.skills .fab {
  font-size: 50px;
}

.fa-html5 {
  background-color: orange;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.fa-css3-alt {
  background-color: #379AD6;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.skills .fa-js-square {
  background-color: #F7E018;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 40px;
}

.skills .fa-angle-down {
  vertical-align: middle;
  margin-left: 5px;
}

.skills button {
  text-transform: uppercase;
  margin-top: 10px;
  border: none;
  background-color: #393e41;
  color: #d3d0cb;
}

.skills button i {
  margin-left: 10px;
}

.skills p {
  padding: 20px 0;
  transform: 3s;
}

.rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #191c1d;
  padding: 20px 0;
  color: #d3d0cb;
}

.redes a {
  text-decoration: none;
}

.redes i {
  padding: 0 20px;
  color: #44bba4;
  font-size: 25px;
}

.rodape p {
  font-size: 0.9rem;
  margin: 10px;
  text-align: center;
}